<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link href="http://feeds.feedburner.com/krudnicki" rel="alternate" title="Kamil Rudnicki" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/"><img src="http://www.gravatar.com/avatar/16031d859d85972280a0f3207d7c2287.jpg?s=100" style="position: relative; top: 7px; border-radius: 15px; width: 50px;" /> Kamil Rudnicki Personal Page</a>
    <!-- <a class="extra" href="/">home</a> -->
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Kamil Rudnicki<br />
        Co-founder of <a href="https://www.timecamp.com">TimeCamp</a><br />

      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/kamil-rudnicki/">github.com/kamil-rudnicki</a><br />
        <a href="http://twitter.com/krudnicki/">twitter.com/krudnicki</a><br />
        <a href="https://www.linkedin.com/in/kamilrudnicki">linkedin.com/in/kamilrudnicki</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/krudnicki">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-832532-12"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-832532-12');
</script>

<script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='3b2a3e61202fccfa16ea9c1127e5d8127e6568d2331f9843e480d8d719e727a6';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>

</body>
</html>
